#logo{
    height: 60px ;
}

img{
    padding-right: 350px;
}

a{
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    
}

a:hover{
    color:blueviolet;
    text-shadow: 2px 2px 4px rgb(108, 231, 250);
    text-decoration: underline;
}

#navbar{
    height: 60px;
    width: 80vw;
    display: flex;
    align-items: center;
}

#signin{
    background-color: rgb(64, 64, 219);
    width: 100px;
    height: 30px;
    margin-left: auto;
    color: antiquewhite;
}

#start{
    width: 100px;
    height: 40px;
    background-color: rgb(64, 64, 219);
    color: antiquewhite;
}

#main{
    width:50vw;
    display:inline;
    float: left;
}

#image {
    float: right;
    background-image: url("Home image 3.avif");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 60px;
    margin-right: 100px;
    height: 500px;
    width: 500px;
    border-radius:50%;
}

button:hover{
    background-color: brown;
}

marquee{
    behavior:"alternate";
    direction:"left";
}